@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --rojo-netflix: rgb(229, 9, 20);
  --negro-netflix: #000000;
  --negro-netflix-ligero:rgb(20, 20, 20);
  --blanco-netflix: #FFFFFF;
  --gris:rgba(255, 255, 255, 0.478);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--blanco-netflix);
  background: var(--negro-netflix-ligero);
  height: 100%;
}
