.tooltiptop::after {
    content: " ";
    position: absolute;
    bottom: 100%;  
    left: 94%;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    z-index: 500;
  }
  .tooltipbottom::after {
    content: " ";
    position: absolute;
    top: 100%; 
    left: 47%;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: white transparent transparent transparent;
    z-index: 500;
  }
  .tooltipbanner {
    content: " ";
    position: absolute;

    margin-left: 2px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent white transparent;
  }

  .tooltipdown {
    content: " ";
    position: absolute;
    border-width: 7px;
    border-style: solid;
    border-color: white transparent transparent transparent;
  }
  
.flexalign{
  display: flex;
  align-items:center;
}

.slideLeft {
  animation: slideLeft 1s ease-in-out forwards; 
}
.slideRight {
  animation: slideRight 1s ease-in-out forwards; 
}

@keyframes slideLeft {
  from {
      transform: translateX(0);

  }
  to {
      transform: translateX(-100%);
      position: relative;
     
  }
}
@keyframes slideRight {
  from {
      transform: translateX(-100%);

  }
  to {
      transform: translateX(0);
      position: relative;
     
  }
}